.paragraph-1{
  color:blue;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.table-1{
  border-collapse: collapse;
}
.table-1 tr td{
  border: 3px solid brown;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flag{
  width: 200px;
  float: right;
  margin: 5px;
}